body {
  /* padding-top: 50px; */
  padding: 0 10px 10px 0;
}

#gfx_holder{
  /* background: transparent url(img/background.png); */
  background-color: #eee;
  // margin: 10px;
}

/*
.title {
  background-color: #2175d4;
  color: #fff;
  padding: 5px;
  border-radius: 15px;
}
*/

/*
#inputbox{
 border:1px solid white;
 border-radius:10px;
 background-color: #3b3b3b;
 color:#f3f3f3;
 position:absolute;
 padding:20px;
 top:10px; 
 left:10px
}

.shadow {
 -moz-box-shadow: 3px 3px 4px #000;
 -webkit-box-shadow: 3px 3px 4px #000;
 box-shadow: 3px 3px 4px #000;
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
*/

#area {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	background-color: #eee;
}

#area canvas {
}
