body {
  /* padding-top: 50px; */
  padding: 0 10px 10px 0;
}

#gfx_holder{
  /* background: transparent url(img/background.png); */
  background-color: #eee;
  // margin: 10px;
}

/*
.title {
  background-color: #2175d4;
  color: #fff;
  padding: 5px;
  border-radius: 15px;
}
*/

/*
#inputbox{
 border:1px solid white;
 border-radius:10px;
 background-color: #3b3b3b;
 color:#f3f3f3;
 position:absolute;
 padding:20px;
 top:10px; 
 left:10px
}

.shadow {
 -moz-box-shadow: 3px 3px 4px #000;
 -webkit-box-shadow: 3px 3px 4px #000;
 box-shadow: 3px 3px 4px #000;
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
*/

#area {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	background-color: #bbb;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
/*
#closeButton {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#saveButton {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
*/

#title {
	height: 60px;
}

#title table {
	width: 100%;
	height: 100%;
}

#area canvas {
	border: 2px solid #bbb;
}

.slider {
	width: 150px;
}

.centerCell {
	text-align: center;
}

.rightCell {
	text-align: right;
	font-style: italic;
}

.title {
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
}

select{
	background: transparent;
	width: 70%;
	padding: 5px;
	border: 1px solid #ccc;
}

#nav {
	margin-top: 30px;
	margin-bottom: 20px;
}

#mainTitle {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size : 2em ; line-height : 1.4em ; color : #222222;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
}
